* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-size: 1.35em;
    animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 让 container 至少等于视口高度 */
}
.content {
    flex: 1; /* 让内容区域填充剩余空间 */
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
    font-size: calc(10px + 3vmin);
}