* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-size: 1.35em;
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.header {
    display: flex;
    align-items: stretch;
    background-color: #C8A2C8;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: calc(10px + 3vmin);
}
.top_choice {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.top_choice > li{
    display: flex;
    align-items: center;
}
.top_choice > li:last-child {
    margin-left: 10px;
}
.top_choice a,
.top_choice a:visited,
.top_choice a:link {
    text-align: center;
    color: #4B0082;
    font-weight: bold;
    padding: 14px 16px;
    font-size: calc(13px + 2vmin);
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu_div {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.menu {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: #ab67ab;
    color: white;
    flex-direction: column;
    padding: 10px;
    font-size: calc(10px + 3vmin);
    transform: translateX(-100%); /* 初始隐藏在左侧 */
    transition: transform 0.25s ease; /* 平滑动画 */
    z-index: 1001;
}
.menu.active {
    transform: translateX(0); /* 显示时滑入 */
}
.menu a,
.menu a:visited,
.menu a:link {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    padding: 14px 16px;
    font-size: calc(13px + 2vmin);
    text-decoration: none;
    transition: background-color 0.3s;
}
#unmenu img.active {
    transform: scaleX(-1);
    transition: transform 0.3s;
}
.menu_div .navigate a,
.menu_div .navigate a:visited,
.menu_div .navigate a:link {
    padding: 14px 25px;
    font-size: calc(13px + 3vmin);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 让 container 至少等于视口高度 */
}
.content {
    flex: 1; /* 让内容区域填充剩余空间 */
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #C8A2C8;
    color: white;
    margin-top: 20px;
    font-size: calc(10px + 3vmin);
}